@model List<MealModel>

@{
    ViewData["Title"] = "庫存管理";
    var errMsg = TempData["errMsg"] != null ? Uri.EscapeDataString(TempData["errMsg"].ToString()) : null;
}
<div class="d-flex justify-content-between align-items-center my-2">
    <h4>目前共有: @ViewBag.MealLength 筆資料</h4>
    <button class="btn btn-primary fs-5" data-bs-toggle="modal" data-bs-target="#addNewMeal">新增菜單</button>
</div>
<table class="table table-secondary table-striped table-hover text-center align-middle">
    <thead class="fs-5">
        <tr>
            <th>名稱</th>
            <th>圖片</th>
            <th>類型</th>
            <th>描述</th>
            <th>成本</th>
            <th>價格</th>
            <th>庫存</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach ( var meal in Model)
            {
                    <tr>
                        <td>@meal.name</td>
                        <td>
                            <img class="img-fluid" style="width: 100px; height: 100px; object-fit: cover;" src="https://localhost:7145/@meal.img_path" />
                        </td>
                        <td>@meal.type</td>
                        <td>@meal.description</td>
                        <td>@meal.cost</td>
                        <td>@meal.price</td>
                        <td>@meal.Inventory.quantity</td>
                        <td class="fs-5">
                            <div class="d-flex flex-row justify-content-center gap-2">
                                <form method="" asp-controller="Admin" asp-action="" asp-route-id="@meal.meal_id">
                                    <button class="btn-warning">編輯</button>
                                </form>
                                <form method="post" asp-controller="Admin" asp-action="DeleteMeal" asp-route-meal_id="@meal.meal_id" onsubmit="return confirm('確定刪除這個餐點嗎？');">
                                    <button type="submit" class="btn-danger">刪除</button>
                                </form>
                            </div>
                        </td>
                    </tr>
            }
        }
    </tbody>
</table>
<!--新增菜單modal-->
<div class="modal" id="addNewMeal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <form class="modal-content" asp-controller="Admin" asp-action="AddNewMeal" method="post" enctype="multipart/form-data">
            <div class="modal-header">
                <h1>新增菜單</h1>
                <button type="reset" class="btn-close" data-bs-dismiss="modal" onclick="resetPreviewImage(event)"></button>
            </div>
            <div class="modal-body d-flex flex-column fs-5">
                <label>餐點圖片</label>
                <input type="file" accept="image/*" name="img_path" onchange="previewImage(event)" />
                <img id="imagePreview" src="#" />
                <label>名稱</label>
                <input type="text" placeholder="請輸入餐點名稱" name="name"/>
                <label>類型</label>
                <input type="text" placeholder="請輸入餐點類型" name="type"/>
                <label>描述</label>
                <textarea placeholder="請輸入餐點描述" name="description"></textarea>
                <label>成本</label>
                <input type="number" placeholder="請輸入餐點成本" name="cost"/>
                <label>價格</label>
                <input type="number" placeholder="請輸入餐點價格" name="price"/>
                <label>數量(庫存)</label>
                <input type="number" placeholder="請輸入餐點數量(庫存)" name="quantity"/>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn-danger" data-bs-dismiss="modal" onclick="resetPreviewImage(event)">取消</button>
                <button type="submit" class="btn-primary">儲存</button>
            </div>
        </form>
    </div>
</div>

<script>
    var errMsg = '@errMsg';
    if (errMsg) {
        alert(decodeURIComponent(errMsg));
    }
    //預覽圖片
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('imagePreview');
            output.src = reader.result;
        };  
        reader.readAsDataURL(event.target.files[0]);
    }
    //重設圖片
    function resetPreviewImage(event) {
        var output = document.getElementById('imagePreview');
        output.src = "#";
    }
</script>