@model List<CartModel>

@{
    ViewData["Title"] = "購物車";
}
@{
    if(Model != null)
    {
        <table class="table table-secondary table-striped table-hover text-center align-middle">
            <thead class="fs-5">
                <tr>
                    <th>名稱</th>
                    <th>圖片</th>
                    <th>類型</th>
                    <th>描述</th>
                    <th>訂購數量</th>
                    <th>價格</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var meal in Model)
                    {
                        var price = meal.Meal.price * meal.amount;
                        <tr>
                            <td>@meal.Meal.name</td>
                            <td>
                                <img class="img-fluid" style="width: 100px; height: 100px; object-fit: cover;" src="https://localhost:7145/@meal.Meal.img_path" />
                            </td>
                            <td>@meal.Meal.type</td>
                            <td>@meal.Meal.description</td>
                            <td>@meal.amount</td>
                            <td>@price</td>
                            <td class="fs-5">
                                <div class="d-flex flex-row justify-content-center gap-2">
                                    <form method="post">
                                        <button type="submit" class="btn-warning">編輯</button>
                                    </form>
                                    <form method="post" asp-controller="Cart" asp-action="delMeal" asp-route-meal_id="@meal.meal_id" onsubmit="return confirm('確定刪除嗎？');">
                                        <button type="submit" class="btn-danger">刪除</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <p>目前沒有任何訂單!</p>
    }
}